In [1]:
import time
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import yfinance as yf

In [3]:
ticker = "RELIANCE.NS"

In [4]:
df= yf.download(ticker, period="3mo")

[*********************100%***********************]  1 of 1 completed

In [5]:
df

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS
Date,,,,,,
2024-08-12 00:00:00+00:00,1455.684448,1460.625000,1473.000000,1457.750000,1470.000000,8184584
2024-08-13 00:00:00+00:00,1458.674316,1463.625000,1470.074951,1458.000000,1460.750000,6265064
2024-08-14 00:00:00+00:00,1456.905273,1461.849976,1472.000000,1453.699951,1463.550049,6267466
2024-08-16 00:00:00+00:00,1473.199951,1478.199951,1480.400024,1458.050049,1468.650024,9416902
2024-08-19 00:00:00+00:00,1488.400024,1488.400024,1498.300049,1480.500000,1482.500000,13797742
...,...,...,...,...,...,...
2024-11-05 00:00:00+00:00,1305.300049,1305.300049,1309.550049,1286.150024,1293.000000,16267479
2024-11-06 00:00:00+00:00,1325.349976,1325.349976,1328.300049,1300.199951,1310.000000,21625209
2024-11-07 00:00:00+00:00,1305.650024,1305.650024,1324.000000,1302.599976,1324.000000,9611974
2024-11-08 00:00:00+00:00,1283.750000,1283.750000,1301.650024,1275.000000,1297.650024,19814406
2024-11-11 00:00:00+00:00,1272.699951,1272.699951,1286.000000,1267.000000,1278.949951,9051638

In [6]:
df.columns = df.columns.get_level_values(0)

In [7]:
df.shape

(64, 6)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 64 entries, 2024-08-12 00:00:00+00:00 to 2024-11-11 00:00:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Adj Close  64 non-null     float64
 1   Close      64 non-null     float64
 2   High       64 non-null     float64
 3   Low        64 non-null     float64
 4   Open       64 non-null     float64
 5   Volume     64 non-null     int64
dtypes: float64(5), int64(1)
memory usage: 3.5 KB

In [9]:
df1=df['Close']

In [10]:
df1=pd.DataFrame(df1)

In [11]:
df1

                                 Close
Date
2024-08-12 00:00:00+00:00  1460.625000
2024-08-13 00:00:00+00:00  1463.625000
2024-08-14 00:00:00+00:00  1461.849976
2024-08-16 00:00:00+00:00  1478.199951
2024-08-19 00:00:00+00:00  1488.400024
...                                ...
2024-11-05 00:00:00+00:00  1305.300049
2024-11-06 00:00:00+00:00  1325.349976
2024-11-07 00:00:00+00:00  1305.650024
2024-11-08 00:00:00+00:00  1283.750000
2024-11-11 00:00:00+00:00  1272.699951

[64 rows x 1 columns]

In [12]:
import pandas_ta as ta

In [13]:
df1['SMA_20'] = ta.sma(df1['Close'], length=20)        
df1['EMA_20'] = ta.ema(df1['Close'], length=20)        
df1['RSI'] = ta.rsi(df1['Close'], length=14)           
df1['MACD'] = ta.macd(df1['Close']).iloc[:, 0]         
df1['MACD_signal'] = ta.macd(df1['Close']).iloc[:, 1]

In [14]:
df1.head(50)

,Close,SMA_20,EMA_20,RSI,MACD,MACD_signal
Date,,,,,,
2024-08-12 00:00:00+00:00,1460.625000,NaN,NaN,NaN,NaN,NaN
2024-08-13 00:00:00+00:00,1463.625000,NaN,NaN,NaN,NaN,NaN
2024-08-14 00:00:00+00:00,1461.849976,NaN,NaN,NaN,NaN,NaN
2024-08-16 00:00:00+00:00,1478.199951,NaN,NaN,NaN,NaN,NaN
2024-08-19 00:00:00+00:00,1488.400024,NaN,NaN,NaN,NaN,NaN
2024-08-20 00:00:00+00:00,1495.949951,NaN,NaN,NaN,NaN,NaN
2024-08-21 00:00:00+00:00,1498.675049,NaN,NaN,NaN,NaN,NaN
2024-08-22 00:00:00+00:00,1498.125000,NaN,NaN,NaN,NaN,NaN
2024-08-23 00:00:00+00:00,1499.974976,NaN,NaN,NaN,NaN,NaN
2024-08-26 00:00:00+00:00,1512.599976,NaN,NaN,NaN,NaN,NaN
2024-08-27 00:00:00+00:00,1500.449951,NaN,NaN,NaN,NaN,NaN
2024-08-28 00:00:00+00:00,1498.300049,NaN,NaN,NaN,NaN,NaN
2024-08-29 00:00:00+00:00,1520.925049,NaN,NaN,NaN,NaN,NaN
2024-08-30 00:00:00+00:00,1509.625000,NaN,NaN,NaN,NaN,NaN
2024-09-02 00:00:00+00:00,1516.250000,NaN,NaN,71.019364,NaN,NaN
2024-09-03 00:00:00+00:00,1509.125000,NaN,NaN,64.580737,NaN,NaN
2024-09-04 00:00:00+00:00,1514.550049,NaN,NaN,67.031593,NaN,NaN
2024-09-05 00:00:00+00:00,1492.974976,NaN,NaN,51.707760,NaN,NaN
2024-09-06 00:00:00+00:00,1464.824951,NaN,NaN,39.136451,NaN,NaN
2024-09-09 00:00:00+00:00,1462.449951,1492.374994,1492.374994,38.290614,NaN,NaN
2024-09-10 00:00:00+00:00,1461.525024,1492.419995,1489.436902,37.946655,NaN,NaN
2024-09-11 00:00:00+00:00,1451.500000,1491.813745,1485.823863,34.345458,NaN,NaN
2024-09-12 00:00:00+00:00,1479.800049,1492.711249,1485.250167,49.046124,NaN,NaN
2024-09-13 00:00:00+00:00,1472.625000,1492.432501,1484.047770,46.220409,NaN,NaN
2024-09-16 00:00:00+00:00,1471.349976,1491.579999,1482.838456,45.716359,NaN,NaN
2024-09-17 00:00:00+00:00,1472.300049,1490.397504,1481.834798,46.187280,-9.583730,NaN
2024-09-18 00:00:00+00:00,1463.449951,1488.636249,1480.083860,42.489537,-9.971378,NaN
2024-09-19 00:00:00+00:00,1469.675049,1487.213751,1479.092545,45.777855,-9.664869,NaN
2024-09-20 00:00:00+00:00,1485.925049,1486.511255,1479.743260,53.286496,-8.018288,NaN
2024-09-23 00:00:00+00:00,1493.375000,1485.550006,1481.041521,56.275936,-6.042558,NaN
2024-09-24 00:00:00+00:00,1489.375000,1484.996259,1481.835185,54.267854,-4.744848,NaN
2024-09-25 00:00:00+00:00,1493.949951,1484.778754,1482.988973,56.193211,-3.309098,NaN
2024-09-26 00:00:00+00:00,1497.949951,1483.629999,1484.413828,57.863554,-1.827424,NaN
2024-09-27 00:00:00+00:00,1526.175049,1484.457501,1488.391087,67.329774,1.605832,7.334316
2024-09-30 00:00:00+00:00,1476.574951,1482.473749,1487.265741,47.243723,0.320702,4.839349
2024-10-01 00:00:00+00:00,1464.824951,1480.258746,1485.128523,43.902420,-1.627144,2.313203
2024-10-03 00:00:00+00:00,1406.974976,1474.879993,1477.685328,31.929223,-7.749503,-3.047325
2024-10-04 00:00:00+00:00,1386.525024,1469.557495,1469.003394,28.926024,-14.089245,-7.509654
2024-10-07 00:00:00+00:00,1370.724976,1464.852496,1459.643545,26.826545,-20.156121,-10.861224
2024-10-08 00:00:00+00:00,1397.349976,1461.597498,1453.710824,35.342918,-22.555740,-10.608674
2024-10-09 00:00:00+00:00,1374.599976,1457.251245,1446.176457,31.923956,-25.993553,-11.237190
2024-10-10 00:00:00+00:00,1371.050049,1453.228748,1439.021561,31.413300,-28.673959,-11.134076
2024-10-11 00:00:00+00:00,1372.099976,1447.843744,1432.648077,31.760971,-30.363468,-10.258868
2024-10-14 00:00:00+00:00,1372.525024,1442.838745,1426.922072,31.911447,-31.307228,-8.962103
2024-10-15 00:00:00+00:00,1344.025024,1436.472498,1419.027115,27.528140,-33.963368,-9.294594
2024-10-16 00:00:00+00:00,1354.074951,1430.561243,1412.841195,31.121037,-34.855638,-8.149492
2024-10-17 00:00:00+00:00,1356.425049,1425.209998,1407.468228,31.970376,-34.970024,-6.611102
2024-10-18 00:00:00+00:00,1359.300049,1419.691248,1402.880783,33.057879,-34.431778,-4.858285
2024-10-21 00:00:00+00:00,1369.199951,1413.854993,1399.673084,36.804148,-32.827955,-2.603569
2024-10-22 00:00:00+00:00,1343.349976,1406.353741,1394.308979,31.799897,-33.259397,-2.428009

In [15]:
df1.dropna(inplace=True)

In [16]:
df1.head()

,Close,SMA_20,EMA_20,RSI,MACD,MACD_signal
Date,,,,,,
2024-09-27 00:00:00+00:00,1526.175049,1484.457501,1488.391087,67.329774,1.605832,7.334316
2024-09-30 00:00:00+00:00,1476.574951,1482.473749,1487.265741,47.243723,0.320702,4.839349
2024-10-01 00:00:00+00:00,1464.824951,1480.258746,1485.128523,43.902420,-1.627144,2.313203
2024-10-03 00:00:00+00:00,1406.974976,1474.879993,1477.685328,31.929223,-7.749503,-3.047325
2024-10-04 00:00:00+00:00,1386.525024,1469.557495,1469.003394,28.926024,-14.089245,-7.509654

In [17]:
df1.shape

(31, 6)

In [18]:
df1=df1.tail(30)

In [19]:
df1.shape

(30, 6)

In [20]:
df1.head()

,Close,SMA_20,EMA_20,RSI,MACD,MACD_signal
Date,,,,,,
2024-09-30 00:00:00+00:00,1476.574951,1482.473749,1487.265741,47.243723,0.320702,4.839349
2024-10-01 00:00:00+00:00,1464.824951,1480.258746,1485.128523,43.902420,-1.627144,2.313203
2024-10-03 00:00:00+00:00,1406.974976,1474.879993,1477.685328,31.929223,-7.749503,-3.047325
2024-10-04 00:00:00+00:00,1386.525024,1469.557495,1469.003394,28.926024,-14.089245,-7.509654
2024-10-07 00:00:00+00:00,1370.724976,1464.852496,1459.643545,26.826545,-20.156121,-10.861224

In [21]:
df1.tail()

,Close,SMA_20,EMA_20,RSI,MACD,MACD_signal
Date,,,,,,
2024-11-05 00:00:00+00:00,1305.300049,1345.961261,1352.044098,30.060012,-30.127140,0.304382
2024-11-06 00:00:00+00:00,1325.349976,1343.498761,1349.501800,38.192964,-28.628477,1.442436
2024-11-07 00:00:00+00:00,1305.650024,1340.228760,1345.325441,34.008437,-28.699567,1.097077
2024-11-08 00:00:00+00:00,1283.750000,1335.811261,1339.461113,30.064892,-30.175213,-0.302856
2024-11-11 00:00:00+00:00,1272.699951,1330.820007,1333.102907,28.282813,-31.868955,-1.597278

In [22]:
import joblib

In [23]:
scaler_close=joblib.load('Scale_closingPrice.pkl')

In [24]:
scaler_indicators=joblib.load('Scale_Indicator.pkl')

In [25]:
scaled_close = scaler_close.transform(df1[['Close']])
scaled_indicators = scaler_indicators.transform(df1[['SMA_20', 'EMA_20', 'RSI', 'MACD', 'MACD_signal']])

In [26]:
scaled_close.shape

(30, 1)

In [27]:
scaled_indicators.shape

(30, 5)

In [28]:
scaled_data = np.hstack((scaled_close, scaled_indicators))

In [29]:
scaled_data.shape

(30, 6)

In [30]:
# Prepare the time series data
window_size = 30

# Since you only have 30 days of data, X will just be one sequence of the last 30 days
X = scaled_data[-window_size:] 

# Reshape X to fit the model's expected input format for LSTM: (samples, time steps, features)
X = np.expand_dims(X, axis=0)

In [31]:
X.shape

(1, 30, 6)

In [32]:
from tensorflow.keras.models import load_model
from keras.metrics import mean_squared_error

In [33]:
model = load_model('lstm_model2.h5', custom_objects={'mse': mean_squared_error})

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [34]:
prediction = model.predict(X).flatten()

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 150ms/step

In [35]:
prediction

array([0.7906995], dtype=float32)

In [36]:
actual_prediction=scaler_close.inverse_transform(prediction.reshape(-1, 1))

In [37]:
actual_prediction

array([[1267.1019]], dtype=float32)